@import "tailwindcss";

@theme {
  --color-green-dark: #716038;
  --color-blue: #384971;
  --color-green-subtitle: #3e351f;
  --color-white-second: #f2efea;
  --color-body-text: #716038;
  --color-title: #4b4025;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  @apply text-[40px] leading-[50px] md:text-[80px] md:leading-[90px];
}

h2 {
  @apply text-[30px] md:text-[42px] leading-[40px] md:leading-[52px] font-medium;
}

h3 {
  @apply text-[24px] md:text-[36px] leading-[34px] md:leading-[46px] font-medium;
}

h4 {
  @apply text-[20px] md:text-[24px] leading-[30px] md:leading-[34px] font-medium;
}

p {
  @apply text-base leading-relaxed;
}

@layer components {
  .containerSection {
    @apply w-full max-w-full px-4 py-25 md:px-10;
  }
}
